/* HEADER */
header img {
    width: 70px;
    height: 70px;
    transition: transform 0.3s ease;
}

header nav a {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFBC59;
    padding: 0 20px;
    transition: all; /

}

header nav a:hover {
    color: #303030;
    background-color: #FFBC59;
    border-radius: 10px;
}

header nav a:active {
    color: #303030;
    background-color: #FFBC59;
    border-radius: 10px;
    text-decoration: underline;
}

header input {
    background-color: #363636;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}

/* BUTTONS */
button {
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

.button_mon_compte, 
.button_watch,
.button_inscription,
.button_connexion {
    background-color: #3830F4;
}

.button_regarder,
.button_favorite {
    background-color: #FFBC59;
    color: #303030;
}

/* BUTTON REMONTER  */
.remonter {
    position: fixed;
    bottom: 20%;
    right: 20%;
    background-color: #3830F4;
    padding: 10px;
    border-radius: 10px;
}

/* SECTION CARDS */
.card {
    margin: 0 !important;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    height: 400px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(255, 188, 89, 0.8)
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(255, 188, 89, 1);
}

/* 
.films_cards {
    flex-wrap: wrap;
} */


/* SECTIONS LINKS */

.section a,
.section h2 {
    transition: all 0.3s ease-in-out;
}

.section a:hover,
.section h2:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.section a:active {
    color: #303030;
    background-color: #FFBC59;
    border-radius: 10px;
    text-decoration: underline;
}

/* SECTION CONNEXION */ 
label {
    font-size: 20px;
    color: #FFBC59;
}
form input {
    width: 300px;
    background-color:#363636;
    padding: 20px;
    border: none;
}

.form_element {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* FOOTER LINKS */
.footer_network img {
    width: 30px;
    height: 30px;
}


footer a,
footer li {
    transition: all 0.3s ease-in-out;
    transform-origin: left center;
}
footer a:hover,
footer li:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

footer a:active {
    color: #303030;
    background-color: #FFBC59;
    border-radius: 10px;
    text-decoration: underline;
}